html{
    background: black;
}

:root{
    --purple: rgb(84, 0, 186);
    --black: rgb(23, 22, 22);
}

header{
    background: rgb(235, 235, 240);
    border-bottom: 1q solid var(--black);
    width: 100%;
    height: 70px;
    display: inline-flex;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index: 99;
    box-shadow: 0 1px 20px cyan;
}
body{
    background: var(--black);
    margin: 0;
    overflow-x: hidden;
}
footer{
    background: rgb(235, 235, 240);
    border-top: 1q solid var(--black);
    height: 200px;
    transition: all 1s;
    width: 100%;
    display: flex;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: rgb(235, 235, 240);
    border-left: 1q solid var(--black);
}
::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-top: 1q solid var(--black);
    border-bottom: 1q solid var(--black);
    border-left: 1q solid var(--black);
}
a{
    color: purple;
}
h5{
    font-weight: 100;
    text-align: center;
    margin: 0;
    border-bottom: 1q solid transparent;
}
.ColapsdNavBar{
    background:white;
    border: 1px solid var(--black);
    text-align: center;
    width:150px;
    height: 200px;
    right:7px;
    top:77px;
    position: absolute;
}
#NavBox{
    display: none;
    visibility: hidden;
    z-index: -99;
}
.DivElem1:hover,.DivElem2:hover,.DivElem3:hover,.DivElem4:hover,.DivElem5:hover{
    transition: 0s;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1);
}
.DivElem0{
    width: 115px;
    margin: auto;
    transition: all 2s;
    cursor: default;
}
.DivElem1{
    width: 50px;
    margin: auto;
    transition: all 2s;
    cursor: pointer;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
}
.DivElem2{
    width: 110px;
    margin: auto;
    transition: all 2s;
    cursor: pointer;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
}
.DivElem3{
    width: 110px;
    margin: auto;
    transition: all 2s;
    cursor: pointer;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
}
.DivElem4{
    width: 50px;
    margin: auto;
    display: none;
    transition: all 2s;
    cursor: pointer;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
}
.DivElem5{
    width: 60px;
    margin: auto;
    transition: all 2s;
    cursor: pointer;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
}
.plus{
    width: 10px;
}
.box{
    display: flex;
    line-height: 3;
    transition: filter 2s;
    cursor: pointer;
    font-size: small;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(0);
    margin-left: auto;
    margin-right: auto;
    /*border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);*/
}
.SidNvBrHme{
    width: 40px;
}
.SidNvBrDwn{
    width: 90px;
}
.SidNvBrTut{
    width: 80px;
}
.SidNvBrMus{
    width: 50px;
}
.Box:hover{
    transition: 0s;
    background: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1);
}
@media only screen and (max-width: 700px) {
    .DivElem0{
        width: 65%;
    }
    .DivElem1,.DivElem2,.DivElem3,.DivElem5 {
        display: none;
    }
    .DivElem4{
        display: block;
    }
    #NavBox{
        visibility: visible;
    }
    iframe{
        width: 420px;
    }
}
@media only screen and (max-width:1100px) {
    .Main{
        width: 96%!important;
    }
}
@media only screen and (max-width:940px) {
    footer{
        display: block;
        height: 370px;
        padding-top: 20px;
    }
    .footers{
        width: 400px!important;
        height: 100px!important;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid var(--black);
    }
    .footerSpace{
        height: inherit;
        display: none;
    }
    h2[footers]{ 
        line-height: 10px;
    }
}
::selection{
    background-color: black;
    color: white;
}
iframe{
    transition: all 2s;
}
#elemtext{
  z-index: 50;
  mix-blend-mode: difference;
  pointer-events: none;
}
.circle{
  position:absolute;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  background:transparent;
  border:2px solid #d9d9d9;
  /*border-radius:80%;*/
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.Main{
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    background: rgb(244, 244, 251);
    width: 55%;
    transition: width 2s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ManHme{
    height: 900px;
    display: block;
}
.Ttl{
    display: inline-flex;
    font-size: 50px;
    font-family: Raleway, Itim;
    font-weight: 200;
}
.SubTtl{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: Raleway, Itim;
    font-weight: 300;
}
.ManDwn{
    height: 900px;
    display: none;
}
.TitleH2{
    font-family: Raleway;
    font-weight: 300;
    position: absolute;
    font-size: larger;
    text-align: center;
    width: inherit;
    margin-top: 170px;
}
span[Tut]{
    text-decoration: underline;
    color: purple;
    cursor: pointer;
}
button[main]{
    border: 1px solid var(--black);
    border-radius: 10px;
    background: rgb(235, 235, 240);
    width:300q;
    height:79q;
    transition:all 300ms;
    margin-top: 230px;
  }
  button[main]:hover{
    cursor:pointer;
    filter:invert(1);
  }
  h1[btn]{
    font-size:25q;
    transition:all 1s;
  /*}
  h1[btn]:hover{
    letter-spacing:3px;*/
  }
  h2[btn]{
    font-size:12q;
    margin-top:-20px;
  }
.ManTut{
    height: 300px;
    display: none;
}
.ManMus{
    padding-top: 1in;
    height: 2900px;
    padding-bottom: 1in;
    display: none;
}

.footers{
    text-align: center;
    width: 100%;
    height: auto;
    border-right: 1px solid var(--black);
    min-width: 300px;
    transition: all 1s;
}
.footerSpace{
    width: 20%;
    height: inherit;
}
h1[footers]{
    font-size: larger;
    font-family: Raleway;
    font-weight: 200;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--black);
}
h2[footers]{
    font-size: larger;
    font-family: Itim;
    font-weight: 200;
}
.footerContact{
    background: white;
    border-left: 1px solid var(--black);
}
.footerConnect{
    background: white;
}
.footerSettings{
    background: white;
}
a[footer]{
    color: inherit;
    width: 200px;
}
.DLM{
    cursor: pointer;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}